@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@theme {  } 

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  overflow-x: hidden;
  overflow-y: scroll;
}
