@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@theme {  --aspect-retro: 4 / 3; }

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  overflow-x: hidden;
  overflow-y: scroll;
}

.w-5xl {
  width: 85rem;
}

body{
  background-color: red;;
}